Beispiele/sebastian/obergericht-zuerich.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  obergericht-zuerich.xsd  —  XML-Schema für Urteile und Beschlüsse
                               des Obergerichts des Kantons Zürich
                               (inkl. Handelsgericht ZH).
  Version: 1.0   |   Sprache: de
  Standard: XSD 1.1

  Ableitung empirisch aus 34'566 OGer-ZH-Entscheiden im Lorentzo-
  Datensatz (Spider ZH_Obergericht). Vier Hauptstrukturtypen:

    Typ A — Beschwerde Zivil (PS, PQ, RT, RU, RB)
            kompakter Bau, "Es wird erkannt:"
    Typ B — Berufung Zivil (LB, LE, LF, LC, LA, LY)
            mit Rechtsbegehren-Sektion, "Es wird erkannt:"
    Typ C — Strafberufung/-beschwerde (SB, UE, UB, UH, NP)
            Doppel-Dispositiv "Es wird beschlossen / Es wird erkannt",
            mehrere Beschuldigte/Berufungskläger, Verteidigung statt
            Vertretung
    Typ D — Handelsgericht (HG, HE)
            Erstinstanzlich, gemischte Besetzung mit Handelsrichtern

  Designentscheidungen (kompakt):

   1) <gericht> ist enum ("Obergericht" / "Handelsgericht") — beide
      werden vom selben Spider erfasst; das HG ist organisatorisch
      angegliedert.
   2) <kammer> als enum mit allen 7 Strafkammern + 4 Zivilkammern + HG;
      das matched mit der Spruchpraxis 2024+.
   3) <spruchart> (Urteil/Beschluss/Verfügung) ist Pflicht — bestimmt,
      ob <dispositiv-beschluss>, <dispositiv-urteil> oder beides
      vorhanden ist.
   4) <geschaeftsnummer> hat strukturierte Sub-Felder (prefix, nummer,
      jahr, suffix) für Statistik-Filterung nach Kammer/Verfahrensart.
   5) <partei> trägt eine geordnete Liste von <rolle>-Elementen — das
      OGer bezeichnet Parteien stets doppelt ("Kläger und Berufungs-
      kläger"). Die Reihenfolge ist semantisch (instanzieller Verlauf).
   6) <berufungs-rolle> als Attribut für I./II./III. Berufungskläger,
      typisch für komplexe Strafverfahren mit Anschlussberufungen.
   7) <verteidigung> separates Element neben <vertretung> — im Strafr.
      ist die Sprache "verteidigt durch", nicht "vertreten durch".
   8) <rechtsbegehren> als eigene Sektion (typisch in Berufungen);
      enthält die wörtlichen Anträge mit prozessualer Quellenangabe
      (act. X S. Y).
   9) <rechtskraftfeststellung> als Sub-Element von <dispositiv-beschluss> —
      OGer stellt häufig fest, dass Teile des erstinstanzlichen Urteils
      in Rechtskraft erwachsen sind, und zitiert das ursprüngliche
      Dispositiv als geschachtelte Struktur.
  10) <akten-referenz> als Inline-Element in Erwägungen — "act. 103",
      "Urk. 157" sind allgegenwärtig und maschinell auswertbar.
  11) <rechtsmittelbelehrung> als separater Block — wichtig für die
      Auswertung der Beschwerdefristen und -arten.
  12) Zitate (BGE, BGer, Gesetz, Doktrin) übernommen aus
      bundesgericht.xsd, leicht erweitert um <kantonal-zitat> für
      Verweise auf andere ZH-Urteile.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://lorentzo.ch/oger-zh/v1"
           targetNamespace="https://lorentzo.ch/oger-zh/v1"
           elementFormDefault="qualified"
           vc:minVersion="1.1"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

  <!-- ================================================================== -->
  <!--  Wurzelelement                                                      -->
  <!-- ================================================================== -->
  <xs:element name="entscheid">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadaten" type="MetadatenTyp"/>
        <xs:element name="mitwirkende" type="MitwirkendeTyp"/>
        <xs:element name="parteien" type="ParteienTyp"/>
        <xs:element name="gegenstand" type="GegenstandTyp"/>
        <xs:element name="vorinstanz" type="VorinstanzTyp" minOccurs="0"/>
        <xs:element name="rechtsbegehren" type="RechtsbegehrenTyp" minOccurs="0"/>
        <xs:element name="prozessgeschichte" type="ProzessgeschichteTyp" minOccurs="0"/>
        <xs:element name="erwaegungen" type="ErwaegungenTyp" minOccurs="0"/>
        <xs:element name="dispositiv-beschluss" type="DispositivTyp" minOccurs="0"/>
        <xs:element name="dispositiv-urteil" type="DispositivTyp" minOccurs="0"/>
        <xs:element name="rechtsmittelbelehrung" type="RechtsmittelbelehrungTyp" minOccurs="0"/>
        <xs:element name="unterschriften" type="UnterschriftenTyp" minOccurs="0"/>
        <xs:element name="versand" type="VersandTyp" minOccurs="0"/>
        <xs:element name="annotationen" type="AnnotationenTyp" minOccurs="0"/>
        <xs:element name="volltext" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="schema-version" type="xs:string" fixed="1.0"/>
      <xs:attribute name="sprache" type="xs:string" fixed="de"/>
      <xs:attribute name="quelle" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>

  <!-- ================================================================== -->
  <!--  Metadaten                                                          -->
  <!-- ================================================================== -->
  <xs:complexType name="MetadatenTyp">
    <xs:sequence>
      <xs:element name="gericht" type="GerichtTyp"/>
      <xs:element name="kammer" type="KammerTyp"/>
      <xs:element name="geschaeftsnummer" type="GeschaeftsnummerTyp"/>
      <xs:element name="spruchart" type="SpruchartTyp"/>
      <xs:element name="entscheiddatum" type="xs:date"/>
      <xs:element name="entscheidort" type="xs:string" default="Zürich" minOccurs="0"/>
      <xs:element name="zur-publikation-vorgesehen" type="xs:boolean"
                  default="false" minOccurs="0"/>
      <xs:element name="weiterzug" type="WeiterzugTyp" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="GerichtTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Obergericht des Kantons Zürich"/>
      <xs:enumeration value="Handelsgericht des Kantons Zürich"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="KammerTyp">
    <xs:annotation><xs:documentation>
      Aktuelle Kammerstruktur OGer ZH (Stand 2024+). Die ehemalige
      "III. Strafkammer" wurde 2024 in Beschwerdekammer umbenannt.
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="I. Zivilkammer"/>
      <xs:enumeration value="II. Zivilkammer"/>
      <xs:enumeration value="Einzelgericht im summarischen Verfahren"/>
      <xs:enumeration value="Einzelgericht in Familiensachen"/>
      <xs:enumeration value="I. Strafkammer"/>
      <xs:enumeration value="II. Strafkammer"/>
      <xs:enumeration value="III. Strafkammer"/>
      <xs:enumeration value="Beschwerdekammer in Strafsachen"/>
      <xs:enumeration value="Verwaltungskommission"/>
      <xs:enumeration value="Aufsichtskommission"/>
      <xs:enumeration value="Plenum"/>
      <xs:enumeration value="Gesamtgericht"/>
      <xs:enumeration value="Handelsgericht"/>
      <xs:enumeration value="Mietgericht"/>
      <xs:enumeration value="Arbeitsgericht"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="GeschaeftsnummerTyp">
    <xs:annotation><xs:documentation>
      Format: "{prefix}{nummer}-{suffix}", z.B. "PS260092-O/U/cwo".
        prefix  = 2-Buchstaben Verfahrenscode (PS, LB, SB, HG, ...)
        nummer  = Jahr (2-stellig) + laufende Nummer
        suffix  = Aktenkennzeichen (O=Original, U=Urteil, ...)
                  + Initialen Gerichtsschreiber:in (cwo, mk, ...)
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="vollformat" type="xs:string"/>           <!-- PS260092-O/U -->
      <xs:element name="prefix" type="GeschaeftsnummerPrefixTyp"/>
      <xs:element name="jahr" type="xs:gYear"/>
      <xs:element name="nummer" type="xs:positiveInteger"/>
      <xs:element name="suffix" type="xs:string" minOccurs="0"/>  <!-- O/U/cwo -->
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="GeschaeftsnummerPrefixTyp">
    <xs:annotation><xs:documentation>
      Häufigste Prefixes (n>100 im Datensatz). Erweiterbar via
      "ANDERE" für seltene/historische Codes.
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <!-- Strafkammern -->
      <xs:enumeration value="SB"/>   <!-- Strafberufung -->
      <xs:enumeration value="SU"/>   <!-- Straf-Urteilsanfechtung -->
      <xs:enumeration value="UE"/>   <!-- Untersuchung-Einstellung -->
      <xs:enumeration value="UH"/>   <!-- Untersuchungshaft -->
      <xs:enumeration value="UB"/>   <!-- Untersuchungs-Beschwerde -->
      <xs:enumeration value="NP"/>   <!-- Nichtanhandnahme/Polizei -->
      <xs:enumeration value="AC"/>   <!-- Strafsache erste Instanz -->
      <xs:enumeration value="AA"/>   <!-- Strafsache (alt) -->
      <!-- Zivilkammern -->
      <xs:enumeration value="LB"/>   <!-- Berufung Zivil -->
      <xs:enumeration value="LC"/>   <!-- Berufung Zivil (Cluster) -->
      <xs:enumeration value="LA"/>   <!-- Berufung Arbeit/Miete -->
      <xs:enumeration value="LE"/>   <!-- Berufung -->
      <xs:enumeration value="LF"/>   <!-- Berufung Familie -->
      <xs:enumeration value="LY"/>   <!-- Berufung -->
      <xs:enumeration value="PA"/>   <!-- Beschwerde Aufsicht -->
      <xs:enumeration value="PC"/>   <!-- Beschwerde -->
      <xs:enumeration value="PF"/>   <!-- Beschwerde Familie -->
      <xs:enumeration value="PP"/>   <!-- Beschwerde Personalrecht -->
      <xs:enumeration value="PQ"/>   <!-- Beschwerde -->
      <xs:enumeration value="PS"/>   <!-- Beschwerde SchKG -->
      <xs:enumeration value="RT"/>   <!-- Rechtsöffnung -->
      <xs:enumeration value="RU"/>   <!-- Rechtsmittel -->
      <xs:enumeration value="RB"/>   <!-- Beschwerde -->
      <xs:enumeration value="VO"/>   <!-- Vorsorge -->
      <xs:enumeration value="MJ"/>   <!-- Massnahmen Jugendliche -->
      <!-- Handelsgericht -->
      <xs:enumeration value="HG"/>   <!-- Handelsgericht Hauptverfahren -->
      <xs:enumeration value="HE"/>   <!-- Handelsgericht Einzelgericht -->
      <!-- Aufsicht -->
      <xs:enumeration value="HF"/>   <!-- Aufsicht/Disziplinar -->
      <xs:enumeration value="ANDERE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SpruchartTyp">
    <xs:annotation><xs:documentation>
      Bestimmt, welche Dispositiv-Sektion vorhanden ist:
       - urteil               nur dispositiv-urteil
       - beschluss            nur dispositiv-beschluss
       - urteil-und-beschluss beide (Strafverfahren mit Vorabentscheid)
       - verfuegung           nur dispositiv-beschluss (Präsidialverf.)
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="urteil"/>
      <xs:enumeration value="beschluss"/>
      <xs:enumeration value="urteil-und-beschluss"/>
      <xs:enumeration value="verfuegung"/>
      <xs:enumeration value="zirkulationsbeschluss"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="WeiterzugTyp">
    <xs:annotation><xs:documentation>
      Information über einen allfälligen Weiterzug ans Bundesgericht
      (post-hoc anreicherbar via Citation-Resolver).
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="bger-verfahrensnummer" type="xs:string" minOccurs="0"/>
      <xs:element name="bger-urteilsdatum" type="xs:date" minOccurs="0"/>
      <xs:element name="bger-ergebnis" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================== -->
  <!--  Mitwirkende                                                        -->
  <!-- ================================================================== -->
  <xs:complexType name="MitwirkendeTyp">
    <xs:sequence>
      <xs:element name="vorsitz" type="RichterTyp" minOccurs="0"/>
      <xs:element name="mitglied" type="RichterTyp"
                  minOccurs="0" maxOccurs="6"/>
      <xs:element name="handelsrichter" type="RichterTyp"
                  minOccurs="0" maxOccurs="6"/>
      <xs:element name="ersatzrichter" type="RichterTyp"
                  minOccurs="0" maxOccurs="3"/>
      <xs:element name="gerichtsschreiber" type="GerichtsschreiberTyp"/>
      <xs:element name="einzelrichter" type="xs:boolean"
                  default="false" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RichterTyp">
    <xs:sequence>
      <xs:element name="nachname" type="xs:string"/>
      <xs:element name="vorname-initial" type="xs:string" minOccurs="0"/>
      <!-- z.B. "R." in "R. Bantli Keller" -->
      <xs:element name="titel" type="AkademischerTitelTyp" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="rolle" type="RichterRolleTyp" default="oberrichter"/>
    <xs:attribute name="geschlecht" type="GeschlechtTyp"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="RichterRolleTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="praesident"/>           <!-- I. Strafkammer -->
      <xs:enumeration value="vizepraesident"/>       <!-- HG -->
      <xs:enumeration value="vorsitzende"/>          <!-- berichterstattend -->
      <xs:enumeration value="oberrichter"/>
      <xs:enumeration value="ersatzoberrichter"/>
      <xs:enumeration value="handelsrichter"/>       <!-- Fachrichter HG -->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AkademischerTitelTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lic. iur."/>
      <xs:enumeration value="MLaw"/>
      <xs:enumeration value="Dr. iur."/>
      <xs:enumeration value="Prof. Dr. iur."/>
      <xs:enumeration value="Dr."/>
      <xs:enumeration value="Prof."/>
      <xs:enumeration value="ohne"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="GerichtsschreiberTyp">
    <xs:sequence>
      <xs:element name="nachname" type="xs:string"/>
      <xs:element name="vorname-initial" type="xs:string" minOccurs="0"/>
      <xs:element name="titel" type="AkademischerTitelTyp" minOccurs="0"/>
      <xs:element name="initialen" type="xs:string" minOccurs="0"/>
      <!-- "cwo", "mk" — die im Geschäftsnummer-Suffix erscheinen -->
    </xs:sequence>
    <xs:attribute name="geschlecht" type="GeschlechtTyp"/>
  </xs:complexType>

  <xs:simpleType name="GeschlechtTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="m"/>
      <xs:enumeration value="f"/>
      <xs:enumeration value="d"/>
      <xs:enumeration value="unbekannt"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!--  Parteien                                                           -->
  <!-- ================================================================== -->
  <xs:complexType name="ParteienTyp">
    <xs:sequence>
      <xs:element name="partei" type="ParteiTyp" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParteiTyp">
    <xs:sequence>
      <xs:element name="bezeichnung" type="xs:string"/>
      <xs:element name="rolle" type="ParteiRolleTyp" maxOccurs="3"/>
      <xs:element name="institution" type="InstitutionTyp" minOccurs="0"/>
      <xs:element name="adresse" type="AdresseTyp" minOccurs="0"/>
      <xs:element name="vertretung" type="VertretungTyp"
                  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="verteidigung" type="VerteidigungTyp"
                  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="zustelladresse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="anonymisiert" type="xs:boolean" default="false"/>
    <xs:attribute name="reihenfolge" type="xs:positiveInteger"/>
    <!-- z.B. "1" für ersten Beschuldigten in Strafverfahren -->
    <xs:attribute name="berufungs-rolle" type="BerufungsRolleTyp"/>
    <!-- z.B. "I" für I. Berufungskläger -->
  </xs:complexType>

  <xs:simpleType name="ParteiRolleTyp">
    <xs:annotation><xs:documentation>
      Beim OGer wird stets eine Doppelrolle verwendet — eine prozessuale
      (instanzielle) und eine materielle.
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <!-- Erstinstanzliche/materielle Rollen -->
      <xs:enumeration value="klaeger"/>
      <xs:enumeration value="beklagte"/>
      <xs:enumeration value="gesuchsteller"/>
      <xs:enumeration value="gesuchsgegner"/>
      <xs:enumeration value="schuldner"/>
      <xs:enumeration value="glaeubiger"/>
      <xs:enumeration value="beschuldigter"/>
      <xs:enumeration value="ankläger"/>
      <xs:enumeration value="privatklaeger"/>
      <xs:enumeration value="geschaedigter"/>
      <!-- Rechtsmittel-Rollen -->
      <xs:enumeration value="berufungskläger"/>
      <xs:enumeration value="berufungsbeklagter"/>
      <xs:enumeration value="beschwerdefuehrer"/>
      <xs:enumeration value="beschwerdegegner"/>
      <xs:enumeration value="rekurrent"/>
      <!-- Spezialrollen -->
      <xs:enumeration value="staatsanwaltschaft"/>
      <xs:enumeration value="oberstaatsanwaltschaft"/>
      <xs:enumeration value="opfer"/>
      <xs:enumeration value="erbengemeinschaft"/>
      <xs:enumeration value="behoerde"/>
      <xs:enumeration value="aufsichtsbehoerde"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BerufungsRolleTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="I"/>     <!-- I. Berufungskläger (häufig StA) -->
      <xs:enumeration value="II"/>    <!-- II. (Beschuldigte) -->
      <xs:enumeration value="III"/>   <!-- III. (Privatklägerschaft) -->
      <xs:enumeration value="IV"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="InstitutionTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="InstitutionTypEnum"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="InstitutionTypEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="staatsanwaltschaft"/>
      <xs:enumeration value="oberstaatsanwaltschaft"/>
      <xs:enumeration value="bezirksgericht"/>
      <xs:enumeration value="konkursgericht"/>
      <xs:enumeration value="betreibungsamt"/>
      <xs:enumeration value="konkursamt"/>
      <xs:enumeration value="handelsregisteramt"/>
      <xs:enumeration value="steuerverwaltung"/>
      <xs:enumeration value="bundesbehoerde"/>
      <xs:enumeration value="kantonale-behoerde"/>
      <xs:enumeration value="gemeinde"/>
      <xs:enumeration value="versicherung"/>
      <xs:enumeration value="bank"/>
      <xs:enumeration value="andere"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AdresseTyp">
    <xs:sequence>
      <xs:element name="strasse" type="xs:string" minOccurs="0"/>
      <xs:element name="postfach" type="xs:string" minOccurs="0"/>
      <xs:element name="plz" type="xs:string" minOccurs="0"/>
      <xs:element name="ort" type="xs:string" minOccurs="0"/>
      <xs:element name="land" type="xs:string" default="CH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VertretungTyp">
    <xs:sequence>
      <xs:element name="vorname-initial" type="xs:string" minOccurs="0"/>
      <xs:element name="nachname" type="xs:string"/>
      <xs:element name="titel" type="AkademischerTitelTyp" minOccurs="0"/>
      <xs:element name="kanzlei" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="typ" type="VertretungstypTyp" default="rechtsanwalt"/>
    <xs:attribute name="geschlecht" type="GeschlechtTyp"/>
  </xs:complexType>

  <xs:simpleType name="VertretungstypTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rechtsanwalt"/>
      <xs:enumeration value="rechtsagent"/>
      <xs:enumeration value="behoerden-vertretung"/>
      <xs:enumeration value="laienvertretung"/>
      <xs:enumeration value="hauseigene-anwaltschaft"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="VerteidigungTyp">
    <xs:annotation><xs:documentation>
      Im Strafrecht: "verteidigt durch" (anstelle "vertreten durch").
      Mehrere Verteidiger pro Beschuldigtem sind möglich (Hauptverteidiger
      + Mitverteidiger).
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="vorname-initial" type="xs:string" minOccurs="0"/>
      <xs:element name="nachname" type="xs:string"/>
      <xs:element name="titel" type="AkademischerTitelTyp" minOccurs="0"/>
      <xs:element name="kanzlei" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="typ" type="VerteidigungstypTyp" default="erbeten"/>
    <xs:attribute name="geschlecht" type="GeschlechtTyp"/>
    <xs:attribute name="hauptverteidigung" type="xs:boolean" default="true"/>
  </xs:complexType>

  <xs:simpleType name="VerteidigungstypTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="erbeten"/>          <!-- Privatverteidiger -->
      <xs:enumeration value="amtlich"/>          <!-- amtl. Verteidigung -->
      <xs:enumeration value="notwendig"/>        <!-- notwendige Verteidigung -->
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!--  Gegenstand                                                         -->
  <!-- ================================================================== -->
  <xs:complexType name="GegenstandTyp">
    <xs:sequence>
      <xs:element name="kurzbezeichnung" type="xs:string"/>
      <xs:element name="rechtsgebiet" type="RechtsgebietTyp" maxOccurs="3"/>
      <xs:element name="streitwert" type="StreitwertTyp" minOccurs="0"/>
      <xs:element name="stichwort" type="xs:string"
                  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="rueckweisung-bger" type="xs:boolean"
                  default="false" minOccurs="0"/>
      <!-- z.B. "(Rückweisung der strafrechtlichen Abteilung des Bundesgerichts)" -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RechtsgebietTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="primaer" type="xs:boolean" default="false"/>
        <xs:attribute name="code" type="RechtsgebietCodeTyp" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="RechtsgebietCodeTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ZIV-OR"/>
      <xs:enumeration value="ZIV-ZGB-Familie"/>
      <xs:enumeration value="ZIV-ZGB-Erbrecht"/>
      <xs:enumeration value="ZIV-ZGB-Sachenrecht"/>
      <xs:enumeration value="ZIV-Miete"/>
      <xs:enumeration value="ZIV-Arbeit"/>
      <xs:enumeration value="ZIV-IPR"/>
      <xs:enumeration value="SchKG"/>
      <xs:enumeration value="HANDEL"/>
      <xs:enumeration value="GES-AG"/>
      <xs:enumeration value="GES-GmbH"/>
      <xs:enumeration value="UWG"/>
      <xs:enumeration value="STR-StGB"/>
      <xs:enumeration value="STR-StPO"/>
      <xs:enumeration value="STR-Nebenstrafrecht"/>
      <xs:enumeration value="STR-Wirtschaftsstrafrecht"/>
      <xs:enumeration value="STR-Jugendstrafrecht"/>
      <xs:enumeration value="STR-Massnahmen"/>
      <xs:enumeration value="VERFAHREN"/>
      <xs:enumeration value="ANDERE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="StreitwertTyp">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="waehrung" type="xs:string" default="CHF"/>
        <xs:attribute name="vermoegensrechtlich" type="xs:boolean"
                      default="true"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================== -->
  <!--  Vorinstanz                                                         -->
  <!-- ================================================================== -->
  <xs:complexType name="VorinstanzTyp">
    <xs:sequence>
      <xs:element name="gericht" type="xs:string"/>
      <!-- "Bezirksgericht Zürich, 9. Abteilung" -->
      <xs:element name="abteilung" type="xs:string" minOccurs="0"/>
      <xs:element name="gerichtstyp" type="VorinstanzGerichtstypTyp"/>
      <xs:element name="entscheiddatum" type="xs:date" minOccurs="0"/>
      <xs:element name="geschaeftsnummer" type="xs:string" minOccurs="0"/>
      <xs:element name="ergebnis" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="VorinstanzGerichtstypTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="bezirksgericht"/>
      <xs:enumeration value="konkursgericht"/>
      <xs:enumeration value="arbeitsgericht"/>
      <xs:enumeration value="mietgericht"/>
      <xs:enumeration value="schlichtungsbehoerde"/>
      <xs:enumeration value="staatsanwaltschaft"/>
      <xs:enumeration value="anwaltsaufsicht"/>
      <xs:enumeration value="andere"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!--  Rechtsbegehren                                                     -->
  <!-- ================================================================== -->
  <xs:complexType name="RechtsbegehrenTyp">
    <xs:sequence>
      <xs:element name="block" type="RechtsbegehrenBlockTyp"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RechtsbegehrenBlockTyp">
    <xs:sequence>
      <xs:element name="quelle" type="xs:string"/>
      <!-- "Rechtsbegehren des Berufungsklägers (act. 92)" -->
      <xs:element name="aktenstelle" type="xs:string" minOccurs="0"/>
      <!-- "act. 2 S. 2 ff." -->
      <xs:element name="antrag" type="AntragTyp" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="von" type="ParteiRolleTyp" use="required"/>
    <xs:attribute name="phase" type="VerfahrensphaseTyp" default="oberinstanz"/>
  </xs:complexType>

  <xs:simpleType name="VerfahrensphaseTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="erste-instanz"/>
      <xs:enumeration value="oberinstanz"/>
      <xs:enumeration value="berufungsantwort"/>
      <xs:enumeration value="anschlussberufung"/>
      <xs:enumeration value="replik"/>
      <xs:enumeration value="duplik"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AntragTyp">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="art" type="AntragsArtTyp" minOccurs="0"/>
      <xs:element name="streitwert" type="StreitwertTyp" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="nummer" type="xs:string" use="required"/>
    <xs:attribute name="haupt-eventual" type="HauptEventualTyp"
                  default="haupt"/>
  </xs:complexType>

  <xs:simpleType name="AntragsArtTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="aufhebung"/>
      <xs:enumeration value="rueckweisung"/>
      <xs:enumeration value="reformatorisch"/>
      <xs:enumeration value="feststellung"/>
      <xs:enumeration value="leistung"/>
      <xs:enumeration value="unterlassung"/>
      <xs:enumeration value="kosten-entschaedigung"/>
      <xs:enumeration value="aufschiebende-wirkung"/>
      <xs:enumeration value="urp"/>
      <xs:enumeration value="prozessual"/>
      <xs:enumeration value="anderer"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HauptEventualTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="haupt"/>
      <xs:enumeration value="eventual"/>
      <xs:enumeration value="subeventual"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!--  Prozessgeschichte (chronologisch nummerierte Schritte vor          -->
  <!--  Erwägungen — typisch in OGer-Berufungsurteilen)                    -->
  <!-- ================================================================== -->
  <xs:complexType name="ProzessgeschichteTyp">
    <xs:sequence>
      <xs:element name="schritt" type="ProzessSchrittTyp" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProzessSchrittTyp" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="datum-referenz" type="DatumReferenzTyp"/>
      <xs:element name="akten-referenz" type="AktenReferenzTyp"/>
    </xs:choice>
    <xs:attribute name="nummer" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="DatumReferenzTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="datum" type="xs:date" use="required"/>
        <xs:attribute name="ereignis" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AktenReferenzTyp">
    <xs:annotation><xs:documentation>
      Inline-Aktenzitate sind beim OGer omnipräsent: "act. 2", "Urk. 157",
      "act. 8/1-4". Strukturiert erfasst, um Aktendossier-Verweise
      auswerten zu können.
    </xs:documentation></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="AktenTypEnum" default="act"/>
        <xs:attribute name="nummer" type="xs:string" use="required"/>
        <xs:attribute name="seite" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="AktenTypEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="act"/>      <!-- act. 2 -->
      <xs:enumeration value="urk"/>      <!-- Urk. 157 -->
      <xs:enumeration value="vi-act"/>   <!-- vorinstanzliche Akten -->
      <xs:enumeration value="beilage"/>
      <xs:enumeration value="prot"/>     <!-- Protokoll -->
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!--  Erwägungen                                                         -->
  <!-- ================================================================== -->
  <xs:complexType name="ErwaegungenTyp">
    <xs:sequence>
      <xs:element name="erwaegung" type="ErwaegungTyp" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="praeambel" type="xs:string"/>
    <!-- "Erwägungen:" / "Die Kammer zieht in Erwägung:" -->
  </xs:complexType>

  <xs:complexType name="ErwaegungTyp" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="text" type="ErwaegungsTextTyp"/>
      <xs:element name="erwaegung" type="ErwaegungTyp"/>
      <xs:element name="bge-zitat" type="BGEZitatTyp"/>
      <xs:element name="bger-zitat" type="BGerZitatTyp"/>
      <xs:element name="kantonal-zitat" type="KantonalZitatTyp"/>
      <xs:element name="gesetzeszitat" type="GesetzeszitatTyp"/>
      <xs:element name="doktrin-zitat" type="DoktrinZitatTyp"/>
      <xs:element name="vorinstanz-zitat" type="VorinstanzZitatTyp"/>
      <xs:element name="akten-referenz" type="AktenReferenzTyp"/>
      <xs:element name="streitgegenstand" type="xs:string"/>
      <xs:element name="ratio-decidendi" type="xs:string"/>
      <xs:element name="querverweis" type="QuerverweisTyp"/>
    </xs:choice>
    <xs:attribute name="nummer" type="xs:string" use="required"/>
    <xs:attribute name="art" type="ErwaegungsArtTyp" default="materiell"/>
  </xs:complexType>

  <xs:complexType name="ErwaegungsTextTyp" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="bge-zitat" type="BGEZitatTyp"/>
      <xs:element name="bger-zitat" type="BGerZitatTyp"/>
      <xs:element name="kantonal-zitat" type="KantonalZitatTyp"/>
      <xs:element name="gesetzeszitat" type="GesetzeszitatTyp"/>
      <xs:element name="doktrin-zitat" type="DoktrinZitatTyp"/>
      <xs:element name="vorinstanz-zitat" type="VorinstanzZitatTyp"/>
      <xs:element name="akten-referenz" type="AktenReferenzTyp"/>
      <xs:element name="querverweis" type="QuerverweisTyp"/>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="ErwaegungsArtTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="formell"/>     <!-- Eintretens-/Zulässigkeit -->
      <xs:enumeration value="prozessual"/>
      <xs:enumeration value="materiell"/>
      <xs:enumeration value="kosten"/>
      <xs:enumeration value="urp"/>
      <xs:enumeration value="vorbemerkung"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="QuerverweisTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ziel-erwaegung" type="xs:string" use="required"/>
        <xs:attribute name="richtung" type="QuerverweisRichtungTyp"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="QuerverweisRichtungTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="vorwaerts"/>
      <xs:enumeration value="rueckwaerts"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!--  Zitate                                                             -->
  <!-- ================================================================== -->
  <xs:complexType name="BGEZitatTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="band" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="abteilung" type="xs:string" use="required"/>
        <xs:attribute name="seite" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="erwaegung" type="xs:string"/>
        <xs:attribute name="ref" type="xs:anyURI"/>
        <xs:attribute name="ziel-id" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="BGerZitatTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="verfahrensnummer" type="xs:string" use="required"/>
        <xs:attribute name="urteilsdatum" type="xs:date"/>
        <xs:attribute name="erwaegung" type="xs:string"/>
        <xs:attribute name="ref" type="xs:anyURI"/>
        <xs:attribute name="ziel-id" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="KantonalZitatTyp">
    <xs:annotation><xs:documentation>
      Verweis auf eigene Praxis (anderes OGer-Urteil) oder Praxis
      anderer kantonaler Gerichte (z.B. ZR — Zürcherische Rechtsprechung).
    </xs:documentation></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="gericht" type="xs:string"/>
        <xs:attribute name="geschaeftsnummer" type="xs:string"/>
        <xs:attribute name="urteilsdatum" type="xs:date"/>
        <xs:attribute name="fundstelle" type="xs:string"/>
        <!-- "ZR 2018 Nr. 12", "RBOG 2014 Nr. 8" -->
        <xs:attribute name="erwaegung" type="xs:string"/>
        <xs:attribute name="ref" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GesetzeszitatTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="erlass" type="xs:string" use="required"/>
        <xs:attribute name="sr-nummer" type="xs:string"/>
        <xs:attribute name="lex-zh" type="xs:string"/>
        <!-- z.B. "211" für ZH-GVG -->
        <xs:attribute name="artikel" type="xs:string" use="required"/>
        <xs:attribute name="absatz" type="xs:string"/>
        <xs:attribute name="lit" type="xs:string"/>
        <xs:attribute name="ziff" type="xs:string"/>
        <xs:attribute name="ref" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="VorinstanzZitatTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="erwaegung" type="xs:string"/>
        <xs:attribute name="seite" type="xs:string"/>
        <xs:attribute name="aktenstelle" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DoktrinZitatTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="autor" type="xs:string"/>
        <xs:attribute name="werk" type="xs:string"/>
        <xs:attribute name="auflage" type="xs:string"/>
        <xs:attribute name="jahr" type="xs:gYear"/>
        <xs:attribute name="seite" type="xs:string"/>
        <xs:attribute name="rz" type="xs:string"/>
        <xs:attribute name="kommentar-bezugsstelle" type="xs:string"/>
        <!-- z.B. "BSK StPO 3. Aufl., Art. 429 N 31a" -->
        <xs:attribute name="ref" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================== -->
  <!--  Dispositiv                                                         -->
  <!--                                                                      -->
  <!--  <dispositiv-beschluss> wird verwendet bei beschluss/verfuegung      -->
  <!--  und im "Beschluss-Teil" eines Strafurteils.                         -->
  <!--  <dispositiv-urteil> bei urteil und im "Urteil-Teil" einer           -->
  <!--  Strafsache.                                                          -->
  <!-- ================================================================== -->
  <xs:complexType name="DispositivTyp">
    <xs:sequence>
      <xs:element name="praeambel" type="xs:string" minOccurs="0"/>
      <!-- "Es wird beschlossen:" / "Es wird erkannt:" -->
      <xs:element name="rechtskraftfeststellung" type="RechtskraftFeststellungTyp"
                  minOccurs="0"/>
      <xs:element name="ziffer" type="DispositivZifferTyp" maxOccurs="unbounded"/>
      <xs:element name="ergebnis-aggregat" type="ErgebnisTyp"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RechtskraftFeststellungTyp">
    <xs:annotation><xs:documentation>
      OGer-Strafurteile zitieren häufig das erstinstanzliche Dispositiv
      und stellen fest, welche Ziffern in Rechtskraft erwachsen sind.
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="vorinstanz-bezeichnung" type="xs:string"/>
      <xs:element name="vorinstanz-datum" type="xs:date"/>
      <xs:element name="rechtskraefig-ziffer" type="xs:string"
                  maxOccurs="unbounded"/>
      <xs:element name="zitiertes-dispositiv" type="xs:string" minOccurs="0"/>
      <!-- wörtliches Zitat des erstinstanzl. Dispositivs -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DispositivZifferTyp" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="text" type="xs:string"/>
      <xs:element name="ergebnis" type="ErgebnisTyp"/>
      <xs:element name="entscheidgebuehr" type="GeldbetragTyp"/>
      <xs:element name="parteientschaedigung" type="GeldbetragTyp"/>
      <xs:element name="schuldspruch" type="SchuldspruchTyp"/>
      <xs:element name="strafmass" type="StrafmassTyp"/>
      <xs:element name="urp-gewaehrung" type="UrpTyp"/>
      <xs:element name="mitteilung" type="MitteilungTyp"/>
      <xs:element name="kostentraeger" type="KostentraegerTyp"/>
      <xs:element name="anweisung" type="AnweisungTyp"/>
    </xs:choice>
    <xs:attribute name="nummer" type="xs:string" use="required"/>
    <!-- String, weil "1.-9." für Block-Ziffern vorkommt -->
    <xs:attribute name="art" type="DispositivArtTyp"/>
  </xs:complexType>

  <xs:simpleType name="DispositivArtTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hauptdispositiv"/>
      <xs:enumeration value="kosten"/>
      <xs:enumeration value="parteientschaedigung"/>
      <xs:enumeration value="urp"/>
      <xs:enumeration value="schuldspruch"/>
      <xs:enumeration value="freispruch"/>
      <xs:enumeration value="strafmass"/>
      <xs:enumeration value="massnahme"/>
      <xs:enumeration value="zivilforderung"/>
      <xs:enumeration value="genugtuung"/>
      <xs:enumeration value="beschlagnahme"/>
      <xs:enumeration value="einziehung"/>
      <xs:enumeration value="anweisung"/>
      <xs:enumeration value="mitteilung"/>
      <xs:enumeration value="aufschiebende-wirkung"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ErgebnisTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="gutgeheissen"/>
      <xs:enumeration value="teilweise-gutgeheissen"/>
      <xs:enumeration value="abgewiesen"/>
      <xs:enumeration value="nicht-eingetreten"/>
      <xs:enumeration value="zurueckgewiesen"/>
      <xs:enumeration value="bestaetigung"/>
      <xs:enumeration value="aufhebung"/>
      <xs:enumeration value="reformiert"/>
      <xs:enumeration value="abgeschrieben"/>
      <xs:enumeration value="gegenstandslos"/>
      <xs:enumeration value="schuldigsprechung"/>
      <xs:enumeration value="freispruch"/>
      <xs:enumeration value="einstellung"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="GeldbetragTyp">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="waehrung" type="xs:string" default="CHF"/>
        <xs:attribute name="rappen" type="xs:integer" default="0"/>
        <xs:attribute name="schuldner" type="ParteiRolleTyp"/>
        <xs:attribute name="empfaenger" type="ParteiRolleTyp"/>
        <xs:attribute name="aus-vorschuss-bezogen" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="SchuldspruchTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tatbestand" type="xs:string" use="required"/>
        <xs:attribute name="erlass" type="xs:string"/>
        <xs:attribute name="artikel" type="xs:string"/>
        <xs:attribute name="beschuldigter-id" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StrafmassTyp">
    <xs:sequence>
      <xs:element name="art" type="StrafartTyp"/>
      <xs:element name="dauer-tage" type="xs:integer" minOccurs="0"/>
      <xs:element name="dauer-monate" type="xs:integer" minOccurs="0"/>
      <xs:element name="dauer-jahre" type="xs:integer" minOccurs="0"/>
      <xs:element name="bedingt" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="probezeit-jahre" type="xs:integer" minOccurs="0"/>
      <xs:element name="busse" type="GeldbetragTyp" minOccurs="0"/>
      <xs:element name="ersatzfreiheitsstrafe-tage" type="xs:integer" minOccurs="0"/>
      <xs:element name="anrechnung-haft-tage" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="beschuldigter-id" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="StrafartTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="freiheitsstrafe"/>
      <xs:enumeration value="geldstrafe"/>
      <xs:enumeration value="busse"/>
      <xs:enumeration value="gemeinnuetzige-arbeit"/>
      <xs:enumeration value="verwarnung"/>
      <xs:enumeration value="freispruch"/>
      <xs:enumeration value="einstellung"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="UrpTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="bewilligt" type="xs:boolean" use="required"/>
        <xs:attribute name="rechtsbeistand-honorar" type="xs:integer"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MitteilungTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="adressat-typ" type="MitteilungAdressatTyp"/>
        <xs:attribute name="zustellart" type="ZustellartTyp"/>
        <xs:attribute name="beilagen" type="xs:string"/>
        <!-- "act. 103, act. 105, act. 106/2" -->
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="MitteilungAdressatTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="parteien"/>
      <xs:enumeration value="vorinstanz"/>
      <xs:enumeration value="staatsanwaltschaft"/>
      <xs:enumeration value="aufsichtsbehoerde"/>
      <xs:enumeration value="handelsregisteramt"/>
      <xs:enumeration value="betreibungsamt"/>
      <xs:enumeration value="konkursamt"/>
      <xs:enumeration value="gemeinde"/>
      <xs:enumeration value="bundesamt"/>
      <xs:enumeration value="dispositiv-mitteilung"/>
      <xs:enumeration value="weitere"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ZustellartTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="empfangsschein"/>
      <xs:enumeration value="einschreiben"/>
      <xs:enumeration value="einfach"/>
      <xs:enumeration value="elektronisch"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="KostentraegerTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="rolle" type="ParteiRolleTyp" use="required"/>
        <xs:attribute name="anteil" type="xs:decimal"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AnweisungTyp">
    <xs:annotation><xs:documentation>
      Operative Anweisungen an Behörden (Konkursamt, Vorinstanz, etc.) —
      typisch in Zwangsvollstreckungs-Beschlüssen des OGer.
    </xs:documentation></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="adressat" type="xs:string" use="required"/>
        <xs:attribute name="art" type="AnweisungsArtTyp"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="AnweisungsArtTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rueckzahlung"/>
      <xs:enumeration value="auszahlung"/>
      <xs:enumeration value="freigabe"/>
      <xs:enumeration value="loeschung"/>
      <xs:enumeration value="eintragung"/>
      <xs:enumeration value="rueckweisung-akten"/>
      <xs:enumeration value="andere"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!--  Rechtsmittelbelehrung                                              -->
  <!-- ================================================================== -->
  <xs:complexType name="RechtsmittelbelehrungTyp">
    <xs:sequence>
      <xs:element name="rechtsmittel" type="xs:string" default="Beschwerde"/>
      <xs:element name="zielinstanz" type="xs:string"
                  default="Schweizerisches Bundesgericht"/>
      <xs:element name="frist-tage" type="xs:integer" default="30"/>
      <xs:element name="rechtsgrundlage" type="xs:string" minOccurs="0"/>
      <!-- "Art. 72 ff. BGG" / "Art. 113 ff. BGG" -->
      <xs:element name="endentscheid" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="vermoegensrechtlich" type="xs:boolean" minOccurs="0"/>
      <xs:element name="streitwert-erreicht" type="xs:boolean" minOccurs="0"/>
      <xs:element name="aufschiebende-wirkung-vermutung" type="xs:boolean"
                  default="false" minOccurs="0"/>
      <xs:element name="hinweis" type="xs:string"
                  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================== -->
  <!--  Unterschriften + Versand                                           -->
  <!-- ================================================================== -->
  <xs:complexType name="UnterschriftenTyp">
    <xs:sequence>
      <xs:element name="vorsitz" type="UnterschriftTyp" minOccurs="0"/>
      <xs:element name="gerichtsschreiber" type="UnterschriftTyp" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UnterschriftTyp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="anrede" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="VersandTyp">
    <xs:sequence>
      <xs:element name="versanddatum" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================== -->
  <!--  Annotationen                                                       -->
  <!-- ================================================================== -->
  <xs:complexType name="AnnotationenTyp">
    <xs:sequence>
      <xs:element name="anzahl-zitierte-bge"
                  type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="anzahl-zitierte-bger"
                  type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="anzahl-zitierte-kantonale"
                  type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="anzahl-aktenreferenzen"
                  type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="laenge-erwaegungen-zeichen"
                  type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="leitentscheid-zr-publiziert" type="xs:boolean"
                  default="false" minOccurs="0"/>
      <xs:element name="dauer-verfahren-tage" type="xs:nonNegativeInteger"
                  minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax"
              minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="generator" type="xs:string"/>
    <xs:attribute name="generator-datum" type="xs:dateTime"/>
  </xs:complexType>

</xs:schema>
